<div id="index" class="flex-container">
  <h1>
    Ted's Dry Cleaners!
  </h1>

  <p>
    We're the best dry cleaners around! Our proprietary detergent and starch bust
    out stains like nothing else!
  </p>
  <a style="cursor: pointer" onclick="javascript: window.location = 'secrets';"><img src="http://www.harmonycleaners.com/wp-content/uploads/2014/03/Suit.jpg"></a>
  <img src="http://divascancook.com/wp-content/uploads/2016/11/homemade-laundry-detergent-1024x576.jpg">
  <p>
    Come visit us at 135 Peacock Place!
  </p>
</div>
