<table width="100%" border="0">
  <tbody>
    <tr>
      <td width="5%">
        &nbsp;
      </td>
      <td width="87%">
        <p align="center">
          <img src="http://www.tedscleaners.net/assets/tedsnewbanner09.jpg" alt="Ted's Cleaners - Dry Cleaning at it's Best!" width="1000" height="280">
        </p>
        <table width="780" border="0" align="center">
          <tbody>
            <tr>
              <td width="392" height="42">
                <bannerad>
                  <img src="http://www.tedscleaners.net/assets/tedsbottombox02.jpg" alt="Ted's Cleaners" usemap="#Map" width="1000" border="0" height="750">
                </bannerad>
              </td>
            </tr>
          </tbody>
        </table>
        <p align="center">
          <!--Paste the code below into your pages exactly as is. The counter contains links back to us. By using this service you agree to maintain these links.-->
        </p>
        <center>
          <a href="http://www.speedcounter.com/info/how-to-make-a-website/">
            <img src="http://www.speedcounter.com/count.php?counterid=25472&amp;theme=4" alt="speedcounter.com">
          </a>
          <br>
          <script>
          CID=25472;
          </script>
          <script language="Javascript" src="http://www.speedcounter.com/count.js">
          </script>
          <i>
            <font size="1" face="Times new roman, Times, serif" color="666666">
              <a href="http://www.speedcounter.com/">
                how to make a website
              </a>
            </font>
          </i>
        </center>
    <!--End SpeedCounter-->
        &nbsp;
        <p>
        </p>
        <p align="center">
          &nbsp;
        </p>
      </td>
      <td width="8%">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>
<p>
  &nbsp;
</p>
<bannerad>
</bannerad>
<map name="Map">
  <area shape="rect" coords="104,142,327,298" href="http://maps.google.com/maps?hl=en&amp;bav=on.2,or.r_gc.r_pw.r_qf.,cf.osb&amp;biw=1280&amp;bih=929&amp;wrapid=tlif133253277272510&amp;q=1957+whitney+ave+hamden+ct&amp;um=1&amp;ie=UTF-8&amp;hq=&amp;hnear=0x89e7da7094207a47:0x6efd75fbd84b1d81,1957+Whitney+Ave,+Hamden,+CT+06517&amp;gl=us&amp;ei=PdZsT7qyE4LN0AGM6-2xBg&amp;sa=X&amp;oi=geocode_result&amp;ct=title&amp;resnum=1&amp;ved=0CB4Q8gEwAA" target="_blank" alt="1957 Whitney Ave Hamden Google Maps.">
  <area shape="rect" coords="348,179,591,268" href="http://maps.google.com/maps?hl=en&amp;bav=on.2,or.r_gc.r_pw.r_qf.,cf.osb&amp;biw=1280&amp;bih=929&amp;wrapid=tlif133253341192910&amp;q=210+amity+road,woodbridge,ct&amp;um=1&amp;ie=UTF-8&amp;hq=&amp;hnear=0x89e7d94f6e8187d5:0x6bd2bfb29d0ebee8,210+Amity+Rd,+Woodbridge,+CT+06525&amp;gl=us&amp;ei=uNhsT-z5D8fv0gHws8i-Bg&amp;sa=X&amp;oi=geocode_result&amp;ct=title&amp;resnum=1&amp;ved=0CB4Q8gEwAA" target="_blank" alt="210 Amity Road Woodbridge,CT Google Maps">
  <area shape="rect" coords="615,145,890,303" href="http://maps.google.com/maps?hl=en&amp;sugexp=llsin&amp;gs_nf=1&amp;pq=210+area+code&amp;cp=16&amp;gs_id=1n&amp;xhr=t&amp;bav=on.2,or.r_gc.r_pw.r_qf.,cf.osb&amp;biw=1280&amp;bih=929&amp;wrapid=tljp1332533465230028&amp;q=63+grove+st+new+haven+ct&amp;um=1&amp;ie=UTF-8&amp;hq=&amp;hnear=0x89e7d9ca03ec4b0b:0xe815d0e36aff60ed,63+Grove+St,+New+Haven,+CT+06510&amp;gl=us&amp;ei=5thsT4i0B6L20gGooMmxBg&amp;sa=X&amp;oi=geocode_result&amp;ct=title&amp;resnum=1&amp;sqi=2&amp;ved=0CB4Q8gEwAA" target="_blank" alt="63 Grove St New Haven Google Maps">
  <area shape="rect" coords="598,535,917,642" style="cursor: pointer" onclick="javascript: window.location = 'secrets';" target="_blank" alt="Ted's Monthly Coupons">
  <area shape="rect" coords="518,715,989,743" href="http://www.tksuper.com" target="_blank" alt="Visit our Laundromats!">
</map>
